<div [@routerTransition]>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <mat-icon matSuffix class="secondary-text">description</mat-icon>Lista Lote
        </li>
    </ol>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Parametros de Busqueda</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form name="form" [formGroup]="form">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Servicio</mat-label>
                                    <mat-select formControlName="country" required>
                                        <mat-option [value]="'United States of America'">
                                            United States of America
                                        </mat-option>
                                        <mat-option [value]="'United Kingdom'">
                                            United Kingdom
                                        </mat-option>
                                        <mat-option [value]="'Russia'">
                                            Russia
                                        </mat-option>
                                        <mat-option [value]="'China'">
                                            China
                                        </mat-option>
                                        <mat-option [value]="'Japan'">
                                            Japan
                                        </mat-option>
                                        <mat-option [value]="'Turkey'">
                                            Turkey
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                    <mat-error>Servicio es obligatorio...!!!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Lote</mat-label>
                                    <input matInput formControlName="firstName" required>
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                    <mat-error>First Name is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Cuenta Entidad</mat-label>
                                    <input matInput formControlName="company">
                                    <mat-icon matSuffix class="disabled-text">credit_card</mat-icon>
                                </mat-form-field>


                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Fecha Registro" [satDatepicker]="picker5"
                                        formControlName="date">
                                    <sat-datepicker #picker5 [rangeMode]="true" [selectFirstDateOnClose]="true">
                                    </sat-datepicker>
                                    <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
                                </mat-form-field>


                                <button type="button" class="btn btn-danger">Buscar</button>


                            </div>

                            <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">


                              <mat-form-field appearance="outline">
                                  <input matInput placeholder="Fecha Registro" [satDatepicker]="picker5"
                                      formControlName="date">
                                  <sat-datepicker #picker5 [rangeMode]="true" [selectFirstDateOnClose]="true">
                                  </sat-datepicker>
                                  <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
                              </mat-form-field>


                          </div> -->





                        </form>

                    </mat-card-content>
                    <mat-card-actions align="end">


                    </mat-card-actions>
                </mat-card>


            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <table mat-table #loteSort="matSort" matSort [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="seleccionar">
                        <th mat-header-cell *matHeaderCellDef>Seleccionar</th>

                        <td mat-cell *matCellDef="let element"> <input type="radio" name="optionsRadios"
                                id="optionsRadios1" value="option1" checked=""> </td>
                    </ng-container>
                    <!-- Position Column -->
                    <ng-container matColumnDef="idServicio">
                        <th mat-header-cell *matHeaderCellDef>Servicio</th>
                        <td mat-cell *matCellDef="let element"> {{element.idServicio}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nroLote">
                        <th mat-header-cell *matHeaderCellDef> Num Lote</th>
                        <td mat-cell *matCellDef="let element"> {{element.nroLote}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="entidad">
                        <th mat-header-cell *matHeaderCellDef> Entidad</th>
                        <td mat-cell *matCellDef="let element"> {{element.entidad}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="registros">
                        <th mat-header-cell *matHeaderCellDef> Registros</th>
                        <td mat-cell *matCellDef="let element"> {{element.registros}} </td>
                    </ng-container>

                    <ng-container matColumnDef="lote">
                        <th mat-header-cell *matHeaderCellDef>Fecha Registro</th>
                        <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="idEstado">
                        <th mat-header-cell *matHeaderCellDef> Etapa Flujo</th>
                        <td mat-cell *matCellDef="let element"> {{element.idEstado}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="fechaRegistro">
                        <th mat-header-cell *matHeaderCellDef> Fecha flujo</th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaRegistro  | date:'short'}} </td>
                    </ng-container>

                    <!-- &lt;!&ndash; Symbol Column &ndash;&gt;
                <ng-container matColumnDef="nroSubCuenta">
                    <th mat-header-cell *matHeaderCellDef>SubCuenta</th>
                    <td mat-cell *matCellDef="let element"> {{element.nroSubCuenta}} </td>
                </ng-container>

                &lt;!&ndash; Symbol Column &ndash;&gt;
                <ng-container matColumnDef="idSIAF">
                    <th mat-header-cell *matHeaderCellDef>SIAF</th>
                    <td mat-cell *matCellDef="let element"> {{element.idSIAF}} </td>
                </ng-container>

                <ng-container matColumnDef="cartaOrden">
                    <th mat-header-cell *matHeaderCellDef>Carta Orden</th>
                    <td mat-cell *matCellDef="let element"> {{element.cartaOrden}} </td>
                </ng-container>
-->
                    <!-- Name Column -->
                    <ng-container matColumnDef="transaccion">
                        <th mat-header-cell *matHeaderCellDef> Tipo ejecucion</th>
                        <td mat-cell *matCellDef="let element"> {{element.transaccion}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="tipoPlanilla">
                        <th mat-header-cell *matHeaderCellDef>Importe</th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoPlanilla}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="importe">
                        <th mat-header-cell *matHeaderCellDef> Transaccion</th>
                        <td mat-cell *matCellDef="let element"> {{element.importe}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tipoEjecucion">
                        <th mat-header-cell *matHeaderCellDef> Tipo Plantilla</th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoEjecucion}} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="cartaOrden">
                    <th mat-header-cell *matHeaderCellDef> Carta Orden</th>
                    <td mat-cell *matCellDef="let element"> {{element.cartaOrden}} </td>
                </ng-container>

                <ng-container matColumnDef="indicadorSiaf">
                    <th mat-header-cell *matHeaderCellDef> Indicador Siaf</th>
                    <td mat-cell *matCellDef="let element"> {{element.indicadorSiaf}} </td>
                </ng-container>
                <ng-container matColumnDef="subCuenta">
                    <th mat-header-cell *matHeaderCellDef>Sub_Cuenta</th>
                    <td mat-cell *matCellDef="let element"> {{element.subCuenta}} </td>
                </ng-container> -->
                    <ng-container matColumnDef="detalle">
                        <th mat-header-cell *matHeaderCellDef> Detalle </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="detalle(element)">
                                <mat-icon class="mat-18">search</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="aprobar">
                        <th mat-header-cell *matHeaderCellDef> Aprobar</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="aprobar(element)">
                                <mat-icon class="mat-18">done_outline</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="anular">
                        <th mat-header-cell *matHeaderCellDef> Anular</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="anular(element)">
                                <mat-icon class="mat-18">delete_forever</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #lotePaginator [pageSizeOptions]="[25, 50, 75]" showFirstLastButtons></mat-paginator>
            </div>

        </div>


        <div style="display: flex; justify-content: center; padding: 20px 0px">
            <div style="width: 45%;
        display: flex;
        justify-content: space-around;"> <button type="button" (click)="detalle(element)"
                    class="btn btn-danger">Extornar Flujo </button>



            </div>

        </div>


    </div>
