table {
    width: 100%;
}

.example-card {
    max-width: 100%;
}



:host {

    .content {

        form {
            width: 100%;
            max-width: 800px !important;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }
}


.align-center{text-align: center;}
.divider-30{margin-top:30px;}
.divider-20{margin-top:20px;}