<h2 mat-dialog-title>Detalle Solicitud</h2>
<mat-dialog-content class="mat-typography">
aqui el formulario
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="true" >Grabar</button>
</mat-dialog-actions>
