<div [@routerTransition]>
    <ol class="breadcrumb">
       <li class="breadcrumb-item"><mat-icon matSuffix class="secondary-text">description</mat-icon>Solicitud / Mantenimiento de Solicitud</li>
    </ol>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Parametros de Busqueda</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form name="form" [formGroup]="form">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Servicio</mat-label>
                                    <mat-select formControlName="country" required>
                                        <mat-option [value]="'United States of America'">
                                            United States of America
                                        </mat-option>
                                        <mat-option [value]="'United Kingdom'">
                                            United Kingdom
                                        </mat-option>
                                        <mat-option [value]="'Russia'">
                                            Russia
                                        </mat-option>
                                        <mat-option [value]="'China'">
                                            China
                                        </mat-option>
                                        <mat-option [value]="'Japan'">
                                            Japan
                                        </mat-option>
                                        <mat-option [value]="'Turkey'">
                                            Turkey
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                    <mat-error>Servicio es obligatorio...!!!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Solicitud</mat-label>
                                    <input matInput formControlName="firstName" required>
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                    <mat-error>First Name is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Numero Cuenta</mat-label>
                                    <input matInput formControlName="company">
                                    <mat-icon matSuffix class="disabled-text">credit_card</mat-icon>
                                </mat-form-field>

                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Estado</mat-label>
                                    <mat-select formControlName="country" required>
                                        <mat-option [value]="'United States of America'">
                                            United States of America
                                        </mat-option>
                                        <mat-option [value]="'United Kingdom'">
                                            United Kingdom
                                        </mat-option>
                                        <mat-option [value]="'Russia'">
                                            Russia
                                        </mat-option>
                                        <mat-option [value]="'China'">
                                            China
                                        </mat-option>
                                        <mat-option [value]="'Japan'">
                                            Japan
                                        </mat-option>
                                        <mat-option [value]="'Turkey'">
                                            Turkey
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                    <mat-error>Estado es obligatorio...!!!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <input matInput
                                           placeholder="Rango de Fechas"
                                           [satDatepicker]="picker5"
                                           formControlName="date">
                                    <sat-datepicker #picker5 [rangeMode]="true"
                                                    [selectFirstDateOnClose]="true">
                                    </sat-datepicker>
                                    <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
                                </mat-form-field>


                            </div>

                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Parametros Adicionales
                                        </mat-panel-title>
                                        <mat-panel-description>

                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                        <mat-label>Sub Cuenta</mat-label>
                                        <input matInput formControlName="firstName" required>
                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                        <mat-error>First Name is required!</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                        <mat-label>Indicador SIAF</mat-label>
                                        <input matInput formControlName="firstName" required>
                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                        <mat-error>First Name is required!</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                        <mat-label>Carta Orden</mat-label>
                                        <input matInput formControlName="firstName" required>
                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                        <mat-error>First Name is required!</mat-error>
                                    </mat-form-field>
                                </mat-expansion-panel>

                            </mat-accordion>




                        </form>

                    </mat-card-content>
                    <mat-card-actions align="end">

                        <button type="button" class="btn btn-danger" >Buscar</button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <table mat-table #solicitudSort="matSort" matSort [dataSource]="dataSource" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="idServicio">
                        <th mat-header-cell *matHeaderCellDef>Servicio</th>
                        <td mat-cell *matCellDef="let element"> {{element.idServicio}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nroSolicitud">
                        <th mat-header-cell *matHeaderCellDef> Solicitud</th>
                        <td mat-cell *matCellDef="let element"> {{element.nroSolicitud}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="entidad">
                        <th mat-header-cell *matHeaderCellDef> Entidad</th>
                        <td mat-cell *matCellDef="let element"> {{element.entidad}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="registros">
                        <th mat-header-cell *matHeaderCellDef> Registros</th>
                        <td mat-cell *matCellDef="let element"> {{element.registros}} </td>
                    </ng-container>

                    <ng-container matColumnDef="lote">
                        <th mat-header-cell *matHeaderCellDef>Lote</th>
                        <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="idEstado">
                        <th mat-header-cell *matHeaderCellDef> Estado</th>
                        <td mat-cell *matCellDef="let element"> {{element.idEstado}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="fechaRegistro">
                        <th mat-header-cell *matHeaderCellDef> fechaRegistro</th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaRegistro  | date:'short'}} </td>
                    </ng-container>

                   <!-- &lt;!&ndash; Symbol Column &ndash;&gt;
                    <ng-container matColumnDef="nroSubCuenta">
                        <th mat-header-cell *matHeaderCellDef>SubCuenta</th>
                        <td mat-cell *matCellDef="let element"> {{element.nroSubCuenta}} </td>
                    </ng-container>

                    &lt;!&ndash; Symbol Column &ndash;&gt;
                    <ng-container matColumnDef="idSIAF">
                        <th mat-header-cell *matHeaderCellDef>SIAF</th>
                        <td mat-cell *matCellDef="let element"> {{element.idSIAF}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cartaOrden">
                        <th mat-header-cell *matHeaderCellDef>Carta Orden</th>
                        <td mat-cell *matCellDef="let element"> {{element.cartaOrden}} </td>
                    </ng-container>
-->
                    <!-- Name Column -->
                    <ng-container matColumnDef="transaccion">
                        <th mat-header-cell *matHeaderCellDef> Transaccion</th>
                        <td mat-cell *matCellDef="let element"> {{element.transaccion}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="tipoPlanilla">
                        <th mat-header-cell *matHeaderCellDef>Planilla</th>
                        <td mat-cell *matCellDef="let element"> {{element.tipoPlanilla}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="importe">
                        <th mat-header-cell *matHeaderCellDef> Importe</th>
                        <td mat-cell *matCellDef="let element"> {{element.importe}} </td>
                    </ng-container>
                    <ng-container matColumnDef="detalle">
                        <th mat-header-cell *matHeaderCellDef> Detalle </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="detalle(element)">
                                <mat-icon class="mat-18">search</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="aprobar">
                        <th mat-header-cell *matHeaderCellDef> Aprobar</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="aprobar(element)">
                                <mat-icon class="mat-18">done_outline</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="anular">
                        <th mat-header-cell *matHeaderCellDef> Anular</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="anular(element)">
                                <mat-icon class="mat-18">delete_forever</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #solicitudPaginator [pageSizeOptions]="[25, 50, 75]" showFirstLastButtons></mat-paginator>
            </div>

        </div>
    </div>


</div>
