<h2 mat-dialog-title>Búsqueda de cuentas</h2>
<mat-dialog-content class="mat-typography">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="example-card">
                    <mat-card-content>
                        <div class="form-block">
                                <div fxLayout="row">

                                    <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 30%;">
                                        <mat-label>Cuenta</mat-label>
                                        <input matInput>
                                        <mat-icon matSuffix class="disabled-text">edit</mat-icon>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 50%;">
                                        <mat-label>Descripción</mat-label>
                                        <input matInput >
                                        <mat-icon matSuffix class="disabled-text">edit</mat-icon>
                                    </mat-form-field>
                                </div>



                        </div>

                    </mat-card-content>

                </mat-card>



            </div>

        </div>
    </div>
</mat-dialog-content>

<div class="row">
    <div class="col-sm-12">
        <table style="width: 100%;" mat-table #busquedaCuentaSort="matSort" matSort [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="seleccionar">
                <th mat-header-cell *matHeaderCellDef>Seleccionar</th>

                <td mat-cell *matCellDef="let element"> <input type="radio" name="optionsRadios"
                        id="optionsRadios1" value="option1" checked=""> </td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="cuenta" style="width: 150px;">
                <th mat-header-cell *matHeaderCellDef>Cuenta</th>
                <td mat-cell *matCellDef="let element"> {{element.cuenta}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="descripcion" style="width: 300px;">
                <th mat-header-cell *matHeaderCellDef> Descripción</th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsBusqueda"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsBusqueda;"></tr>
        </table>
        <mat-paginator #busquedaCuentaPaginator [pageSizeOptions]="[25, 50, 75]" showFirstLastButtons></mat-paginator>
    </div>

</div>



<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="true">Seleccionar</button>
</mat-dialog-actions>
