<h2 mat-dialog-title>Eliminar IP</h2>
<mat-dialog-content class="mat-typography">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="example-card">
                    <mat-card-content>
                        <div class="form-block">
                            <form class="form-block" [formGroup]="formLoteAnular">
                                <div fxLayout="row">

                                    <mat-card>Estas seguro de eliminar la ip?</mat-card>
                                    
                                </div>

                            </form>
                        </div>

                    </mat-card-content>

                </mat-card>



            </div>

        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="true">Eliminar</button>
</mat-dialog-actions>
