<h2 mat-dialog-title>Administrar IP</h2>
<mat-dialog-content class="mat-typography">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="example-card">
                    <mat-card-content>
                        <div class="form-block">
                                <div fxLayout="row">


                                    <div class="row">
                                        <div class="col-md-12 align-center">
                                            <mat-radio-group>
                                                <mat-radio-button value="1" checked class="col-md-2" (change)="cambioIp($event)">IP Individual</mat-radio-button>
                                                <mat-radio-button value="2" class="col-md-2" (change)="cambioIp($event)">IP Grupal</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>

                                    <div id="individual" [hidden]="cambio">

                                        <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 45%;">
                                            <mat-label>Nro de Cuenta</mat-label>
                                            <input matInput>
                                            <mat-icon matSuffix class="disabled-text">edit</mat-icon>
                                        </mat-form-field>
    
    
                                        <mat-form-field appearance="outline" fxFlex="100" class="pr-4" style="width: 45%;">
                                            <mat-label>Estado</mat-label>
                                            <mat-select required>
                                                <mat-option [value]="'United States of America'">
                                                    United States of America
                                                </mat-option>
                                                <mat-option [value]="'United Kingdom'">
                                                    United Kingdom
                                                </mat-option>
                                                
                                            </mat-select>
                                            <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                            <mat-error>Estado es obligatorio.</mat-error>
                                        </mat-form-field>
    
                                        <div>IP</div>
                                        <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                           <input matInput />
                                        </mat-form-field>
                                       
                                        <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                            <input matInput />
                                         </mat-form-field>
    
                                         <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                            <input matInput />
                                         </mat-form-field>
                                        
                                         <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                             <input matInput />
                                          </mat-form-field>
    
    
                                        <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 60%;">
                                            <mat-label>Descripción</mat-label>
                                            <input matInput >
                                            <mat-icon matSuffix class="disabled-text">edit</mat-icon>
                                        </mat-form-field>
    
                                        

                                    </div>

                                    <div id="grupal" [hidden]="!cambio">

                                        <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 45%;">
                                            <mat-label>Nro de Cuenta</mat-label>
                                            <input matInput>
                                            <mat-icon matSuffix class="disabled-text">edit</mat-icon>
                                        </mat-form-field>
    
    
                                        <mat-form-field appearance="outline" fxFlex="100" class="pr-4" style="width: 45%;">
                                            <mat-label>Estado</mat-label>
                                            <mat-select required>
                                                <mat-option [value]="'United States of America'">
                                                    United States of America
                                                </mat-option>
                                                <mat-option [value]="'United Kingdom'">
                                                    United Kingdom
                                                </mat-option>
                                                
                                            </mat-select>
                                            <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                            <mat-error>Estado es obligatorio.</mat-error>
                                        </mat-form-field>
    
                                        <div>IP inicial</div>
                                        <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                           <input matInput />
                                        </mat-form-field>
                                       
                                        <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                            <input matInput />
                                         </mat-form-field>
    
                                         <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                            <input matInput />
                                         </mat-form-field>
                                        
                                         <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                             <input matInput />
                                          </mat-form-field>
    

                                          <div>IP Final</div>
                                          <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                             <input matInput />
                                          </mat-form-field>
                                         
                                          <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                              <input matInput />
                                           </mat-form-field>
      
                                           <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                              <input matInput />
                                           </mat-form-field>
                                          
                                           <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 7%;">
                                               <input matInput />
                                            </mat-form-field>

                                            <br>
    
                                        <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 60%;">
                                            <mat-label>Descripción</mat-label>
                                            <input matInput >
                                            <mat-icon matSuffix class="disabled-text">edit</mat-icon>
                                        </mat-form-field>
    
                                        

                                    </div>

                                    
                                       
                                    

                                </div>


                        </div>

                    </mat-card-content>

                </mat-card>



            </div>

        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="true">Modificar</button>
</mat-dialog-actions>
