<h2 mat-dialog-title>Detalle Lote</h2>
<mat-dialog-content class="mat-typography">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="example-card">
                    <mat-card-content>
                        <form name="formLoteDetalle" [formGroup]="formLoteDetalle">
                            <div fxLayout="row">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Servicio</mat-label>
                                    <mat-select formControlName="country" required>
                                        <mat-option [value]="'United States of America'">
                                            United States of America
                                        </mat-option>
                                        <mat-option [value]="'United Kingdom'">
                                            United Kingdom
                                        </mat-option>
                                        <mat-option [value]="'Russia'">
                                            Russia
                                        </mat-option>
                                        <mat-option [value]="'China'">
                                            China
                                        </mat-option>
                                        <mat-option [value]="'Japan'">
                                            Japan
                                        </mat-option>
                                        <mat-option [value]="'Turkey'">
                                            Turkey
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                    <mat-error>Servicio es obligatorio...!!!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Lote</mat-label>
                                    <input matInput formControlName="firstName" required>
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                    <mat-error>First Name is required!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Cuenta Entidad</mat-label>
                                    <input matInput formControlName="company">
                                    <mat-icon matSuffix class="disabled-text">credit_card</mat-icon>
                                </mat-form-field>


                            </div>



                        </form>

                    </mat-card-content>

                </mat-card>



            </div>

        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="true">Grabar</button>
</mat-dialog-actions>
