<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <img src="assets/images/logo.png" width="140px" class="user-avatar"/>
            <h3>Sistema de Administraci&oacute;n de Transmiciones Masivas</h3>
            <form [formGroup]="loginForm" (validSubmit)="login()" novalidate>

                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group row">
                                <label for="servicioSelect" class="col-sm-5 col-form-label">Servicio</label>
                                <div class="col-lg-7">
                                    <select class="form-control form-control-sm" id="servicioSelect" formControlName="servicio" [(ngModel)]="user.servicio">
                                        <option [value]="'01'">1-ABONOS MASIVOS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="txtUsuario" class="col-sm-5 col-form-label">Usuario</label>
                                <div class="col-lg-7">
                                    <input type="text" ng-model="name" class="form-control form-control-sm" id="txtUsuario"
                                           [(ngModel)]="user.usuario" formControlName="usuario" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-5 col-form-label">Clave</label>
                                <div class="col-lg-7">
                                    <input type="password" class="form-control form-control-sm" id="inputPassword"
                                           [(ngModel)]="user.clave" formControlName="clave" maxlength="50">
                                </div>
                            </div>
                            <button class="btn btn-outline-light" [disabled]="loginForm.invalid">
                                Ingresar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
