table {
    width: 100%;
}

.example-card {
    max-width: 100%;
}



:host {

    .content {

        form {
            width: 100%;
        }

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }


    }
}

.form-block {
    display: flex;
    flex-direction: column;
}

.form-block>* {
    width: 100%;
}

.form-block form {
    margin-bottom: 20px;
}

.form-block form>* {
    margin: 5px 0;
}

.form-full-width {
    width: 100%;

}

.form-full-width mat-form-field {
    width: 100%;
}
