<div [@routerTransition]>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <mat-icon matSuffix class="secondary-text">description</mat-icon>Reporte Abono Aprobado
        </li>
    </ol>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Filtros de Búsqueda</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form name="form" [formGroup]="form">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Servicio</mat-label>
                                    <mat-select disabled formControlName="servicio" required>
                                        <mat-option [value]="'Servicio 1'">
                                            Servicio 1
                                        </mat-option>
                                        <mat-option [value]="'Servicio 2'">
                                            Servicio 2
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">search</mat-icon>
                                    <mat-error>Servicio es obligatorio.</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Transacción</mat-label>
                                    <mat-select formControlName="transaccion" required>
                                        <mat-option [value]="'Transacción 1'">
                                            Transacción 1
                                        </mat-option>
                                        <mat-option [value]="'Transacción 2'">
                                            Transacción 2
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">search</mat-icon>
                                    <mat-error>Transacción es obligatorio.</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Tipo Planilla</mat-label>
                                    <mat-select formControlName="tipoPlanilla" required>
                                        <mat-option [value]="'PLanilla 1'">
                                            PLanilla 1
                                        </mat-option>
                                        <mat-option [value]="'PLanilla 2'">
                                            PLanilla 2
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">search</mat-icon>
                                    <mat-error>Tipo de Planilla es obligatorio.</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Tipo Ejecución</mat-label>
                                    <mat-select formControlName="tipoEjecucion" required>
                                        <mat-option [value]="'United States of America'">
                                            ----.---- </mat-option>
                                        <mat-option [value]="'Ejecucion 1'">
                                            Ejecucion 1
                                        </mat-option>
                                        <mat-option [value]="'Ejecucion 2'">
                                             Ejecucion 2
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">search</mat-icon>
                                    <mat-error>Tipo de Ejecución es obligatorio.</mat-error>
                                </mat-form-field>


                                <div class="row">
                                    <div class="col-md-12 align-center">
                                        <mat-radio-group formControlName="tipoUbicacion">
                                            <mat-radio-button value="1" class="col-md-1">Agencia</mat-radio-button>
                                            <mat-radio-button value="2" class="col-md-1">Entidad</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 divider-30">
                                            <dual-list [sort]="keepSorted" [source]="source" [key]="key" [display]="display" [filter]="filter"
                                            [(destination)]="confirmed" height="265px" [disabled]="disabled"></dual-list>
                                    </div>
                                </div>

                            </div>

                            <div class="row align-center">
                                    <div class="col-sm-6 align-center divider-20">

                                        <mat-form-field appearance="outline">
                                            <mat-label>Fecha Inicio</mat-label>
                                            <input matInput placeholder="Fecha Registro" [satDatepicker]="picker5"
                                                formControlName="date" width="200px">
                                            <sat-datepicker #picker5 [rangeMode]="true" [selectFirstDateOnClose]="true">
                                            </sat-datepicker>
                                            <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
                                        </mat-form-field>
                                    </div>
                        
                                    <div class="col-sm-6 align-center divider-20">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Fecha Aprobación</mat-label>
                                            <input matInput placeholder="Fecha Registro" [satDatepicker]="picker6"
                                                formControlName="date" width="200px">
                                            <sat-datepicker #picker6 [rangeMode]="true" [selectFirstDateOnClose]="true">
                                            </sat-datepicker>
                                            <sat-datepicker-toggle matSuffix [for]="picker6"></sat-datepicker-toggle>
                                        </mat-form-field>

                                    </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 align-center">
                                    <mat-radio-group formControlName="tipoUbicacion">
                                        <mat-radio-button value="1" class="col-md-2">Ascendente</mat-radio-button>
                                        <mat-radio-button value="2" class="col-md-2">Descendente</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 align-center">
                                        <button type="button" class="btn btn-danger">Buscar</button>
                                </div>
                            </div>
                            

                        </form>

                    </mat-card-content>
          
                </mat-card>


            </div>

        </div>
    

    </div>


</div>
