<h2 mat-dialog-title>Modificar Horario</h2>
<mat-dialog-content class="mat-typography">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="example-card">
                    <mat-card-content>
                        <div class="form-block">
                            <form class="form-block" [formGroup]="formLoteAnular">
                                <div fxLayout="row">

                                    <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 30%;">
                                        <mat-label>Día</mat-label>
                                        <input matInput>
                                        <mat-icon matSuffix class="disabled-text">edit</mat-icon>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 50%;">
                                        <mat-label>Descripción</mat-label>
                                        <input matInput >
                                        <mat-icon matSuffix class="disabled-text">edit</mat-icon>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 40%;">
                                        <mat-label>Hora Inicio</mat-label>
                                        <input matInput >
                                        <mat-icon matSuffix class="disabled-text">edit</mat-icon>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 40%;">
                                        <mat-label>Hora Fin</mat-label>
                                        <input matInput>
                                        <mat-icon matSuffix class="disabled-text">edit</mat-icon>
                                    </mat-form-field>

                                </div>



                            </form>
                        </div>

                    </mat-card-content>

                </mat-card>



            </div>

        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="accent" [mat-dialog-close]="true">Modificar</button>
</mat-dialog-actions>
