<div [@routerTransition]>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <mat-icon matSuffix class="secondary-text">description</mat-icon>Administrar Horarios
        </li>
    </ol>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="example-card">
                    <mat-card-content>
                        <form name="form" [formGroup]="form">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                    <mat-label>Servicio</mat-label>
                                    <mat-select disabled formControlName="country" required>
                                        <mat-option [value]="'United States of America'">
                                            United States of America
                                        </mat-option>
                                        <mat-option [value]="'United Kingdom'">
                                            United Kingdom
                                        </mat-option>
                                        <mat-option [value]="'Russia'">
                                            Russia
                                        </mat-option>
                                        <mat-option [value]="'China'">
                                            China
                                        </mat-option>
                                        <mat-option [value]="'Japan'">
                                            Japan
                                        </mat-option>
                                        <mat-option [value]="'Turkey'">
                                            Turkey
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                    <mat-error>Servicio es obligatorio.</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="300" class="pr-4" style="width: 50%;">
                                    <mat-label>Cuenta Entidad</mat-label>
                                    <input matInput formControlName="company">
                                    <mat-icon matSuffix class="disabled-text">credit_card</mat-icon>
                                </mat-form-field>


                                <button type="button" class="btn btn-danger">Buscar</button>


                            </div>


                        </form>

                    </mat-card-content>
                    <mat-card-actions align="end">


                    </mat-card-actions>
                </mat-card>


            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <table mat-table #horarioSort="matSort" matSort [dataSource]="dataSource" class="mat-elevation-z8">
                    
                    <ng-container matColumnDef="dia">
                        <th mat-header-cell *matHeaderCellDef>Día</th>
                        <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef>Descripción</th>
                        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="horaInicio">
                        <th mat-header-cell *matHeaderCellDef> Hora Inicio</th>
                        <td mat-cell *matCellDef="let element"> {{element.horaInicio}} </td>
                    </ng-container>

                    <ng-container matColumnDef="horaFin">
                        <th mat-header-cell *matHeaderCellDef> Hora Fin</th>
                        <td mat-cell *matCellDef="let element"> {{element.horaFin}} </td>
                    </ng-container>

                    <ng-container matColumnDef="modificar">
                        <th mat-header-cell *matHeaderCellDef> Modificar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="modificar(element)">
                                <mat-icon class="mat-18">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #horarioPaginator [pageSizeOptions]="[25, 50, 75]" showFirstLastButtons></mat-paginator>
            </div>

        </div>


  

    </div>


</div>
