<div [@routerTransition]>
    <ol class="breadcrumb">
       <li class="breadcrumb-item"><mat-icon matSuffix class="secondary-text">description</mat-icon>Lote Transmitido/ Mantenimiento de Lote</li>
    </ol>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Parametros de Busqueda</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <form name="form" [formGroup]="form">
                                <!-- fxLayout="row inline" fxLayoutAlign="start center" fxFlex="1 0 auto"-->
                            <div style="display:flex; justify-content: space-evenly;">

                                <mat-form-field appearance="outline"  fxFlex="100" class="pr-2">
                                    <mat-label>Servicio</mat-label>
                                    <mat-select formControlName="country" required>
                                        <mat-option [value]="'United States of America'">
                                            1-ABONOS MASIVOS
                                        </mat-option>
                                        <mat-option [value]="'United Kingdom'">
                                            OTROS
                                        </mat-option>
                                        
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                    <mat-error>Servicio es obligatorio...!!!</mat-error>
                                </mat-form-field>
                            
                           
                                <mat-form-field appearance="outline"  fxFlex="100" class="pr-2" >
                                    <mat-label>Lote</mat-label>
                                    <input matInput formControlName="firstName" required>
                                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                    <mat-error>First Name is required!</mat-error>
                                </mat-form-field>
                            

                                <mat-form-field appearance="outline" fxFlex="100" class="pr-2">
                                    <mat-label>Cuenta entidad</mat-label>
                                    <input matInput formControlName="company">
                                    <mat-icon matSuffix class="disabled-text">credit_card</mat-icon>
                                </mat-form-field>


                                <mat-card-actions align="end">
                                        <button type="button" class="btn btn-danger">Buscar</button>
                                </mat-card-actions>
                            </div>

                           
                        </form>

                    </mat-card-content>
                    
                   
                  
                  
                </mat-card>
            </div>
           
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <table mat-table #loteSort="matSort" matSort [dataSource]="dataSource" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="idServicio">
                        <th mat-header-cell *matHeaderCellDef>Servicio</th>
                        <td mat-cell *matCellDef="let element"> {{element.idServicio}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nroLote">
                        <th mat-header-cell *matHeaderCellDef>num Lote</th>
                        <td mat-cell *matCellDef="let element"> {{element.nroLote}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="entidad">
                        <th mat-header-cell *matHeaderCellDef> Entidad</th>
                        <td mat-cell *matCellDef="let element"> {{element.entidad}} </td>
                    </ng-container>

                   
                    <!-- Weight Column -->
                    <ng-container matColumnDef="fechaRegistro">
                        <th mat-header-cell *matHeaderCellDef> fechaRegistro</th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaRegistro  | date:'short'}} </td>
                    </ng-container>

                 
                    <!-- Name Column -->
                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef> Estado host</th>
                        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                    </ng-container>

                   

                    <ng-container matColumnDef="aprobar">
                        <th mat-header-cell *matHeaderCellDef> Aprobar</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="aprobar(element)">
                                <mat-icon class="mat-18">done_outline</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="anular">
                        <th mat-header-cell *matHeaderCellDef> Anular</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" (click)="anular(element)">
                                <mat-icon class="mat-18">delete_forever</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #lotePaginator [pageSizeOptions]="[25, 50, 75]" showFirstLastButtons></mat-paginator>
            </div>

        </div>
    </div>


</div>
